.checkbox-menu {
  width: 280px;
  height: 86vh;
  padding-left: 2vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  color: #5a9ef9;
}

h2 {
  color: #3868a1;
}
