.header-purple-cover {
  width: 100%;
  min-height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(50, 24, 121);
}

img {
  margin-top: 100px;
}