
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #452266;
  height: 40px;
  font-size: x-large;
  color: antiquewhite;
  justify-content: center;
  align-items: center;
}
