._2ajm{color:#929598;line-height:1.8}
._3nnr{position:relative}._3nnv{bottom:-36px;position:absolute;right:0;z-index:1}
._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}
.sp_r2HYjaL6HcF{background-image:url(/rsrc.php/v3/yt/r/XfiX8LlfrDc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_r2HYjaL6HcF.sx_8e1d5f{width:20px;height:20px;background-position:0 -33px}.sp_r2HYjaL6HcF.sx_5e8b55{background-position:0 0}

#bootloader_biFfb{height:42px;}.bootloader_biFfb{display:block!important;}