@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

.counter {
  font-family: 'MuseoModerno', cursive;  font-size: medium;
  font-weight: bolder;
  color: #fc5d7a;
  text-align: center;
  width: 100%;
  margin: 0 auto 1vh;
  bottom: 40px;
  span {
    color: yellow;
    font-size: larger;
  }
}