.container {
  margin-right: 70px;
  position: fixed;
  right: 10px;
  top : 50px;
  display: flex;
  flex-direction: column;
}
.achievement_card {
  color: #fc3a5b;
  background: darkblue;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  margin-top: 50px;
  box-shadow: 7px 3px 5px 2px rgba(6, 6, 6, 0.3);
  transition: 0.5s;
  &:hover {
    flex-grow: 2;
    cursor: pointer;
    top: -2px;
    box-shadow: 10px 15px 3px 2px  rgba(6, 6, 6, 0.3);
    color: darkblue;

    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #fc3a5b;
    transition: 0.5s;
  }

}