.App {
    text-align: center;

}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.save-button {
    border: none;
    border-radius: 10px;
    padding-bottom: 32px;
    position: absolute;
    bottom: 13px;
    left: 45%;
    width: 100px;
    height: 30px;
    font-size: x-large;
    background: #2e1534;
    color: #EBD199;
    outline: none;
    cursor: pointer;
}

.advanced-button {
    outline: none;
    position: absolute;
    top: 50%;
    left: 45%;
    /*border: none;*/
    border: 2px solid #2e1534;
    border-radius: 20px;
    height: 33px;
    width: 150px;
    background-color: #EBD199;
    color: #2e1534;
    cursor: pointer;
}

.example-content {
    position: absolute;
    width: 50%;
    margin: auto;
    left: 25%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    display: flex;

}
input {
    border: none;
    outline: none;
    margin-bottom: 10px;
    color: #403B5B;
    padding-left: 5px;
}

label {
    color: #EBD199;
}


@keyframes slidein {
    from {
        height: 0px;
        transform: scale(0);
        opacity: 0;
    }
    to {
        height:500px; /*This will change for each element */
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    animation: slidein 0.5s forwards;
    z-index: 3;
    margin: auto;
    width: 850px;
    height: 500px;
    border: 1px solid #EBD199;
    background-color: #403B5B;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}