@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap");
.products-container {
  margin-top: 130px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vw;
  justify-content: center; }

.product {
  outline: none;
  border: none;
  max-width: 400px;
  background: #ffffff;
  border-radius: 20px;
  position: relative; }
  .product h3 {
    color: #282c34;
    padding: 0 14px; }
  .product img {
    margin: 30px auto;
    width: 165px;
    height: 165px; }
  .product:hover {
    cursor: pointer;
    top: -8px;
    box-shadow: 10px 10px rgba(136, 136, 136, 0.53); }

#fixed-header {
  z-index: 2;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  display: block;
  transition: top 0.8s; }

#title {
  font-family: 'MuseoModerno', cursive;
  font-size: xxx-large;
  margin-left: 2vw;
  margin-top: 0;
  color: #e0721d; }

.search-form {
  position: absolute;
  top: 8vh;
  left: 30vw;
  z-index: 3; }
  .search-form input {
    font-family: 'MuseoModerno', cursive;
    font-size: medium;
    width: 40vw;
    background: transparent;
    height: 34px;
    border: none;
    outline: none;
    border-bottom: solid 3px #e0721d;
    color: white; }
    .search-form input:focus {
      color: white; }

.move-page {
  outline: none;
  border: none;
  background: #333;
  color: #e0721d;
  width: 10vw;
  height: 25px;
  border-radius: 5px;
  margin: 0 auto 0 30px;
  font-size: large;
  font-weight: bold; }
  .move-page:hover {
    cursor: pointer;
    transform: scale(1.1) perspective(1px); }

.nav-buttons {
  position: relative;
  bottom: 0;
  left: auto;
  margin-top: 20px;
  justify-content: center; }

.black-layout {
  position: fixed;
  background: rgba(69, 65, 65, 0.65);
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3; }

.product-page {
  position: relative;
  margin: auto;
  top: 10vh;
  background: #dfdfe3;
  width: 800px;
  height: 70vh;
  border: solid 4px #333;
  outline: none;
  border-radius: 20px; }
  .product-page:hover {
    cursor: pointer; }
  .product-page .close-page {
    background: #333;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: 2%;
    right: 2%;
    color: #e0721d; }
  .product-page h1 {
    padding-top: 2%;
    color: #e0721d; }
  .product-page h2 {
    position: absolute;
    bottom: 6%;
    left: 12%; }
  .product-page #main-image {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 3%;
    top: 20%;
    border: solid #fc8845 2px;
    border-radius: 10px; }
  .product-page .gallery-pic {
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border: solid #fc8845 2px;
    border-radius: 10px; }

.gallery {
  display: grid;
  padding-top: 10px;
  max-width: 100%;
  grid-template-columns: auto auto auto;
  position: absolute;
  left: 50%;
  top: 20%; }

.product-buttons {
  position: absolute;
  bottom: 30px;
  right: 10%; }
  .product-buttons button {
    outline: none;
    border: none;
    background: #333;
    color: #e0721d;
    width: 10vw;
    height: 7vh;
    border-radius: 5px;
    margin: 0 auto 0 30px;
    font-size: large;
    font-weight: bold; }
    .product-buttons button:hover {
      cursor: pointer;
      transform: scale(1.1) perspective(1px); }

.App {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #b6b6ba; }

body {
  background: #c7c7ca;
  background-size: contain; }

/*# sourceMappingURL=main.css.map */
