@import 'products_board', 'header', 'search_bar', 'move_page', 'product_page';

.App {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #b6b6ba;
}

body {
  background: #c7c7ca;
  background-size: contain;
}
