.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  input {
    padding-left: 10px;
    width: 15vw;
    font-size: large;
    font-weight: bold;
    background: #fefefe;
    height: 34px;
    border-radius: 10px 0 0 10px;
    border: solid 3px #e0721d;
    outline: none;
  }

  button {
    border-radius: 0 10px 10px 0;
    height: 42px;
    outline: none;
    width: 6vw;
    border: none;
    background: #e0721d;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
}